html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


h1 {
  text-align: center;
  color: #4a3535;
}


p {
  text-align: center;
  color: #666;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


thead {
  background-color: #3498db;
  color: white;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #c55c5c;
}

tr:hover {
  background-color: #eaeaea;
}
